*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("img/freedom.jpg");
    min-height: 100%;
    min-width: 100%;
    background-size: cov;
    width: 100%;
    height: 528px;
    padding: 10px;
}

.section-title {
    color: darkgreen;
    text-align: center;
}

#product-overview  h1{
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan {
    background-color: lime;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;

}


.plan--highlighted{
    background-color: green;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__subtitle{
    background-color: white;
    color:green;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 8px;
}

.plan__title {
    color: darkgreen;
}

.plan__price{
    color: darkgray;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price{
    color: black;
}

/* .button {
    background-color: darkgreen;
    color: white;
    font: inherit;
    padding: 8px;
    margin: 8px 0;
    border: 1.5px transparent solid;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s;
    font-weight: bold;
    
}

.button:hover,
.button:active{
    background-color: white;
    color: darkgreen;
    border-color: transparent;
} */

.plan--highlighted .button{
    background-color: red;
    color: white;
  
}

.plan--highlighted .button:hover{
    background-color: white;
    color: red;
    border-color: transparent;
}

/* .button:focus{
    outline: none;
} */

.plan__feautures {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feauture{
    margin: 8px 0px;
}

#key-features {
    background-color: red;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

.key-feature__list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature{
    display: inline-block;
    width: 30%; 
    vertical-align: top;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.key-feature__image{
    background-color: rosybrown;
    width: 128px;
    height: 128px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 auto;
}

/* .main-header {
    width: 100%;
    background: lime;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    transition: all .4s ease-in-out;
}

.main-header__brand:hover{
    color: red;
}


.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle1;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;

    
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    color: darkgreen;
    text-decoration: none;
    transition: all .4s ease-in-out;
    font-weight: bold;
    padding: 3px 0;
    
}

.main-nav__item a:hover, 
.main-nav__item a:active{
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background-color: red;
    padding: 8px 16px;
    border-radius: 15px;
}
 
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    color: red;
    background-color: white;
    border: none;
}

.main-footer{
    background-color: black;
    padding: 32px;
    margin-top: 48px;
}
 
.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;

}

.main-footer__link a {
    text-decoration: none;
    color: white;
    transition: all .4s;
}

.main-footer__link a:hover,
.main-footer__link a:active{
    color: red;
} */