

#product-overview {

    background-image: url("img/freedom.jpg");
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    width: 100vw;
    height: 50vh;
    padding: 1rem;
    margin-top: 6rem;
}


.section-title {
    color: darkgreen;
    text-align: center;
    font-size: 3rem;
}

#product-overview  h1{
    position: relative;
    top: 80%;
    left: 5rem;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
}

.plan__list {
   width: 80%;
   margin: auto;
   text-align: center;
}

.plan {
    background-color: lime;
    text-align: center;
    padding: 1.6rem;
    margin: .8rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;

}


.plan--highlighted{
    background-color: green;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__subtitle{
    background-color: white;
    color:green;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: .8rem;
    border-radius: .8rem;
    font-size: 2rem;
}

.plan__title {
    color: darkgreen;
    font-size: 2rem;
}

.plan__price{
    color: darkgray;
    font-size: 2rem;
}

.plan--highlighted .plan__title {
    color: white;
    font-size: 2rem;
}

.plan--highlighted .plan__price{
    color: black;
    font-size: 2rem;
}

.plan__description {
    font-size: 2rem;
}



.plan--highlighted .button{
    background-color: red;
    color: white;
  
}

.plan--highlighted .button:hover{
    background-color: white;
    color: red;
    border-color: transparent;
}

/* .button:focus{
    outline: none;
} */

.plan__feautures {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feauture{
    margin: .8rem 0rem;
    font-size: 1.6rem;
    
}

#key-features {
    background-color: red;
    margin-top: 8rem;
    padding: 1.6rem;
}

#key-features .section-title {
    color: white;
    margin: 3.2rem;
}

.key-feature__list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature{
    display: inline-block;
    width: 30%; 
    vertical-align: top;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.key-feature__image{
    background-color: rosybrown;
    width: 12.8rem;
    height: 12.8rem;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 auto;
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }