*{
    box-sizing: border-box;
  
}

html,
body{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: lime;
    padding: .8rem 1.6rem;
    z-index: 2;
  
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.2rem;
    height: 5rem;
    display: block;
}

.main-header__brand img{
    height: 100%;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;

    
}

.main-nav__item {
    display: inline-block;
    margin: 0 1.6rem;
}

.main-nav__item a {
    color: darkgreen;
    text-decoration: none;
    transition: all .4s ease-in-out;
    font-weight: bold;
    padding: .3rem 0;
    font-size: 1.6rem;
    
}

.main-nav__item a:hover, 
.main-nav__item a:active{
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background-color: red;
    padding: .8rem 1.6rem;
    border-radius: 1.5rem;
}
 
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    color: red;
    background-color: white;
    border: none;
}

.main-footer{
    background-color: black;
    padding: 3.2rem;
    margin-top: 4.8rem;
}
 
.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1.6rem;

}

.main-footer__link a {
    text-decoration: none;
    color: white;
    transition: all .4s;
}

.main-footer__link a:hover,
.main-footer__link a:active{
    color: red;
}

.button {
    background-color: darkgreen;
    color: white;
    font: inherit;
    padding: .8rem;
    margin: .8rem 0;
    border: 1.5px transparent solid;
    border-radius: 3rem;
    cursor: pointer;
    transition: all .3s;
    font-weight: bold;
    font-size: 2rem;
    
}

.button:hover,
.button:active{
    background-color: white;
    color: darkgreen;
    border-color: transparent;
}

.button:focus{
    outline: none;
}