*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("img/background.jpg");8
    width: 100%;
    height: 528px;
    padding: 10px;
}

.section-title {
    color: lime;
}

#product-overview  h1{
    color: white;
    font-family: 'Anton', sans-serif;
}

.main-header {
    width: 100%;
    background: lime;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    transition: all .4s ease-in-out;
}

.main-header__brand:hover{
    color: red;
}


.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle1;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;

    
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    color: darkgreen;
    text-decoration: none;
    transition: all .4s ease-in-out;
    font-weight: bold;
    padding: 3px 0;
    
}

.main-nav__item a:hover, 
.main-nav__item a:active{
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background-color: red;
    padding: 8px 16px;
    border-radius: 15px;
}
 
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    color: red;
    background-color: white;
    border: none;
}

